<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Tópico</title>
  <link rel="stylesheet" href="/Fórum/CSS Fórum/Missoes.css">
</head>
<body>
  <div class="topic-container">
    <h1 class="topic-title">Missões</h1>
    <p class="topic-description">Descrição do tópico. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget nulla ac quam malesuada iaculis. Donec vestibulum urna massa, sed vestibulum elit ultricies a. Quisque aliquet ultricies ante, quis luctus lorem feugiat ac. Sed eu quam eget velit eleifend hendrerit. Etiam rutrum tristique ex sit amet sagittis. </p>
    <div class="topic-info">
      <p class="topic-author">Autor: Fulano de Tal</p>
      <p class="topic-date">Data: 30/03/2023</p>
      <p class="topic-views">Visualizações: <span id="views-count">0</span></p>
    </div>
  </div>
  <div class="comment-container">
    <h2 class="comment-title">Comentários</h2>
    <form id="comment-form">
      <label for="comment-input">Adicione um comentário:</label>
      <textarea id="comment-input" name="comment-input" rows="4"></textarea>
      <button type="submit">Enviar</button>
    </form>
    <ul id="comment-list"></ul>
  </div>
  <script src="/Fórum/JS Fórum/Missoes.js"></script>
</body>
</html>
